<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<div th:replace="fragments/header::header"></div>

<body>

<div class="container">
    <div class="row py-2">
        <div class="col-12">
            <form th:action="@{/user}" method="post" th:object="${user}">
                <input type="hidden" id="id" th:field="*{id}">
                <div class="form-group">
                    <label>Username</label>
                    <input type="text" class="form-control" id="name" th:field="*{username}" placeholder="Enter username">
                    <p class="text-danger" th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></p>
                </div>
                <div class="form-group">
                    <label>Age</label>
                    <input type="number" class="form-control" id="age" th:field="*{age}" placeholder="User age">
                    <p class="text-danger" th:if="${#fields.hasErrors('age')}" th:errors="*{age}"></p>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
</div>


<div th:replace="fragments/styles::style"></div>

</body>

</html>